<!-- BREADCRUMB-->
<section class="au-breadcrumb">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">Estás aquí:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#/">Inicio</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Convenios</li>
                            </ul>
                        </div>
                        <button id='open-modal-new-agreement' type="button" class="au-btn au-btn-icon au-btn--green"
                            data-toggle="modal" data-target="#modal-agreements">
                            <i class="zmdi zmdi-plus"></i>AÑADIR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table id="agreement-table" class="display table table-striped table-details-new table-borderless"
                            cellspacing="0" width="100%">
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade " id="modal-agreements" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 id="title-new-agreement" class="modal-title">Nuevo convenio</h4>
                <h4 id="title-edit-agreement" class="modal-title">Editar convenio</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <p>Año de convenio</p>
                        <input id="id-convenio" type="text" class="form-control mi-input" style="margin-bottom:15px; display:none"
                            value="" placeholder="indicativo">
                        <select class="form-control" id="año-convenio">
                            <option value="0">Seleccionar año</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                            <option value="2035">2035</option>
                            <option value="2036">2036</option>
                            <option value="2037">2037</option>
                            <option value="2038">2038</option>
                            <option value="2039">2039</option>
                            <option value="2040">2040</option>
                            <option value="2041">2041</option>
                            <option value="2042">2042</option>
                            <option value="2043">2043</option>
                            <option value="2044">2044</option>
                            <option value="2045">2045</option>
                            <option value="2046">2046</option>
                            <option value="2047">2047</option>
                            <option value="2048">2048</option>
                            <option value="2049">2049</option>
                            <option value="2050">2050</option>
                        </select>
                    </div>

                    <div class="col-xs-6 col-md-6">
                        <p>Tipo</p>
                        <select class="form-control" id="tipo-convenio">
                            <option value="0">Seleccionar tipo</option>
                            <option value="1">MARCO</option>
                            <option value="2">INTERINSTITUCIONAL</option>
                            <option value="3">ESPECIFICO</option>                        
                        </select>
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <p>Institucion</p>
                        <select class="form-control" id="institucion-convenio">
                            <!--<option value="2000">2000</option>-->
                        </select>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button id="new-agreement-button" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-dot-circle-o"></i>
                    Guardar</button>
                <button id="edit-agreement-button" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-dot-circle-o"></i>
                    Editar</button>
            </div>

        </div>
    </div>
</div>


<script src="js/modules/agreements/agreement.events.js" type="text/javascript"></script>