<!-- BREADCRUMB-->
<section class="au-breadcrumb">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">Estás aquí:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#/">Inicio</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Contactos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-center title-4">Informacion de contacto</h3>
            </div>
            <hr>
            <form action="" method="" novalidate="novalidate">

                <div class="row">
                    <h4 class="titles-contact col-xs-12 col-md-12">Ubicacion</h4>
                    <div class="form-group col-xs-6 col-md-6">
                        <label for="ubicacion-u-contact" class="control-label mb-1">Ubicacion de la universidad</label>
                        <input id="ubicacion-u-contact" type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="Localizacion especifica de la universidad" value=""
                            disabled>
                    </div>

                    <div class="form-group  col-xs-6 col-md-6">
                        <label for="ubicacion-ori-contact" class="control-label mb-1">Ubicacion de la ORI</label>
                        <input id="ubicacion-ori-contact" type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="Localizacion especifica dentro de la universidad" value="">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group  col-xs-6 col-md-6">
                        <label for="email-contact" class="control-label mb-1">Correo electronico</label>
                        <input id="email-contact" type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="Ej. relacionesinternacionales@ufps.edu.co" value="">
                    </div>

                    <div class="form-group  col-xs-6 col-md-6">
                        <label for="telefono-contact" class="control-label mb-1">Numero telefonico</label>
                        <input id="telefono-contact" type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="Ej. (057) (7) 5752664 - 5776655 Ext. 240" value="">
                    </div>
                </div>

                <div class="row">
                    <h4 class="titles-contact col-xs-12 col-md-12">Redes sociales</h4>
                    <div class="form-group  col-xs-6 col-md-6">
                        <label for="facebook-contact" class="control-label mb-1">Facebook</label>
                        <input id="facebook-contact" type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="" value="">
                    </div>

                    <div class="form-group  col-xs-6 col-md-6">
                        <label for="twitter-contact" class="control-label mb-1">Twitter</label>
                        <input id="twitter-contact" type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="" value="">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group  col-xs-6 col-md-6">
                        <label for="instagram-contact" class="control-label mb-1">Instagram</label>
                        <input id="instagram-contact" type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="" value="">
                    </div>

                    <div class="form-group  col-xs-6 col-md-6">
                        <label for="youtube-contact" class="control-label mb-1">Youtube</label>
                        <input id="youtube-contact" type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="" value="">
                    </div>
                </div>

                <div class="row">
                    <!--<div class="form-group  col-xs-6 col-md-6">
                        <label for="google-contact" class="control-label mb-1">Google+</label>
                        <input id="google-contact"  type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="" value="">
                    </div>-->

                    <!--<div class="form-group  col-xs-6 col-md-6">
                        <label for="linkedIn-contact" class="control-label mb-1">Linkedln</label>
                        <input id="linkedIn-contact"  type="text" class="form-control mi-input" aria-required="true"
                            aria-invalid="false" placeholder="" value="">
                    </div>-->
                </div>



                <div>
                    <button id="edit-contact" type="button" class="btn btn-lg btn-success btn-block" data-dismiss="modal"><i
                            class="fa fa-lock fa-lg"></i>&nbsp;
                        <span id="edit-contact-button">Guardar cambios</span></button>

                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="js/modules/contacts/contact.events.js" type="text/javascript"></script>