<!-- BREADCRUMB-->
<section class="au-breadcrumb">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">Estás aquí:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#/">Inicio</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Eventos</li>
                            </ul>
                        </div>
                        <button id='open-modal-new-event' type="button" class="au-btn au-btn-icon au-btn--green"
                            data-toggle="modal" data-target="#modal-events">
                            <i class="zmdi zmdi-plus"></i>AÑADIR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table id="event-table" class="display table table-striped table-details-new table-borderless"
                            cellspacing="0" width="100%">
                            <!--<thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Fecha</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Evento1</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsam nostrum,
                                        incidunt sapiente soluta perspiciatis modi placeat molestias asperiores vel
                                        velit, libero temporibus illum qui, voluptate quas deserunt voluptatum fuga.
                                    </td>
                                    <td>
                                        25/01/2020
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Evento1</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsam nostrum,
                                        incidunt sapiente soluta perspiciatis modi placeat molestias asperiores vel
                                        velit, libero temporibus illum qui, voluptate quas deserunt voluptatum fuga.
                                    </td>
                                    <td>
                                        25/01/2020
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>-->
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade " id="modal-events" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="title-new-event" class="modal-title">Nuevo evento</h4>
                <h4 id="title-edit-event" class="modal-title">Editar evento</h4>            
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <p>Nombre</p>
                        <input id="id-event" type="text" class="form-control mi-input" style="margin-bottom:15px; display:none"
                            value="" placeholder="indicativo" minlength="1" >
                        <input id="nombre-event" type="text" class="form-control mi-input" style="margin-bottom:15px;" value=""
                            placeholder="Ej. Reunion importante" minlength="1" >
                    </div>

                    <div class="col-xs-6 col-md-6">
                        <p>Fecha</p>
                        <input id="fecha-event" class="form-control mi-input" type="date" style="margin-bottom:15px;" value="">
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <p>Lugar</p>                        
                        <input id="lugar-event" type="text" class="form-control mi-input" style="margin-bottom:15px;" value=""
                            placeholder="Ej. Biblioteca " minlength="1">
                    </div>
                    
                    <div class="col-xs-12 col-md-12">
                        <p>Descripcion</p>
                        <textarea rows="4" cols="50" id="descripcion-event" class="form-control mi-input" style="margin-bottom:15px;"
                            value="" placeholder="Aqui va la descripcion del evento" minlength="1"></textarea>
                    </div>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="new-event-button" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-dot-circle-o"></i> Guardar</button>
                <button id="edit-event-button" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-dot-circle-o"></i> Editar</button>
            </div>

        </div>
    </div>
</div>


<script src="js/modules/events/event.events.js" type="text/javascript"></script>