<!-- BREADCRUMB-->
<section class="au-breadcrumb">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">Estás aquí:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#/">Inicio</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Instituciones</li>
                            </ul>
                        </div>
                        <button id='open-modal-new-institution' type="button" class="au-btn au-btn-icon au-btn--green"
                            data-toggle="modal" data-target="#modal-institutions">
                            <i class="zmdi zmdi-plus"></i>AÑADIR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table id="institution-table" class="display table table-striped table-details-new table-borderless"
                            cellspacing="0" width="100%">
                            <!--<thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Fecha</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Evento1</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsam nostrum,
                                        incidunt sapiente soluta perspiciatis modi placeat molestias asperiores vel
                                        velit, libero temporibus illum qui, voluptate quas deserunt voluptatum fuga.
                                    </td>
                                    <td>
                                        25/01/2020
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Evento1</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsam nostrum,
                                        incidunt sapiente soluta perspiciatis modi placeat molestias asperiores vel
                                        velit, libero temporibus illum qui, voluptate quas deserunt voluptatum fuga.
                                    </td>
                                    <td>
                                        25/01/2020
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>-->
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade " id="modal-institutions" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 id="title-new-institution" class="modal-title">Nuevo convenio</h4>
                <h4 id="title-edit-institution" class="modal-title">Editar convenio</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <p>Nombre</p>
                        <input id="id-institucion" type="text" class="form-control mi-input" style="margin-bottom:15px; display:none"
                            value="" placeholder="indicativo">
                        <input id="nombre-institucion" type="text" class="form-control mi-input" style="margin-bottom:15px;"
                            value="" placeholder="Institucion" minlength="1">
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <p>Pais</p>
                        <select class="form-control" id="pais-institucion">
                            <!--<option value="2000">2000</option>-->
                        </select>
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <p>Tipo</p>
                        <select class="form-control" id="tipo-institucion">
                            <option value="0">Seleccionar tipo de institucion</option>
                            <option value="1">INSTITUCIONES DE EDUCACION SUPERIOR EXTRANJERAS</option>
                            <option value="2">INSTITUCIONES EXTRANJERAS</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button id="new-institution-button" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-dot-circle-o"></i>
                    Guardar</button>
                <button id="edit-institution-button" type="button" class="btn btn-success" data-dismiss="modal"><i
                        class="fa fa-dot-circle-o"></i>
                    Editar</button>
            </div>

        </div>
    </div>
</div>


<script src="js/modules/institutions/institution.events.js" type="text/javascript"></script>