<section class="welcome p-t-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-4 name-user-welcome">Bienvenido, las cosas estan asi..</h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>

<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <a href="#/users">
                    <div class="statistic__item statistic__item--green">
                        <h2 id="count-users" class="number">0</h2>
                        <span class="desc">Usuarios registrados en la plataforma</span>
                        <div class="icon">
                            <i class="zmdi zmdi-account"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="#/experiences">
                    <div class="statistic__item statistic__item--orange">
                        <h2 id="count-experiencies" class="number">0</h2>
                        <span class="desc">Experiencias contadas</span>
                        <div class="icon">
                            <i class="zmdi zmdi-airplane"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">             
                <a href="#/events">
                    <div class="statistic__item statistic__item--blue">
                        <h2 id="count-events" class="number">0</h2>
                        <span class="desc">Eventos proximos a la fecha</span>
                        <div class="icon">
                            <i class="zmdi zmdi-calendar-note"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a href="#/">
                    <div class="statistic__item statistic__item--red">
                        <h2 id="count-agreements" class="number">0</h2>
                        <span class="desc">Convenios actualmente</span>
                        <div class="icon">
                            <i class="zmdi zmdi-check-all"></i>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>

<script src="js/modules/news/new.events.js" type="text/javascript"></script>