<!-- BREADCRUMB-->
<section class="au-breadcrumb">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">Estás aquí:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#/">Inicio</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Usuarios</li>
                            </ul>
                        </div>
                        <button id="open-modal-new-user" type="button" class="au-btn au-btn-icon au-btn--green" data-toggle="modal" data-target="#modal-users">
                            <i class="zmdi zmdi-plus"></i>AÑADIR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table id="user-table" class="display table table-striped table-details-new table-borderless" cellspacing="0" width="100%">
                          
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade " id="modal-users" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="title-new-user" class="modal-title">Nuevo usuario</h4>
                <h4 id="title-edit-user" class="modal-title">Editar usuario</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <p>Codigo</p>
                        <input id="id-user" type="number" class="form-control mi-input" style="margin-bottom:15px;"
                            value="" placeholder="Ej. 1151124" minlength="7" min="0">
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <p>Documento</p>
                        <input id="documento-user" type="number" class="form-control mi-input" style="margin-bottom:15px;"
                            value="" placeholder="Ej. 1090123643" minlength="10" min="0">
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <p>Nombre</p>
                        <input id="nombre-user" type="text" class="form-control mi-input" style="margin-bottom:15px;"
                            value="" placeholder="Ej. Juan Perez" minlength="2">
                    </div>
                    
                    <div class="col-xs-12 col-md-12">
                        <p>Correo</p>
                        <input id="correo-user" type="email" class="form-control mi-input" style="margin-bottom:15px;"
                            value="" placeholder="Ej. juanp@gmail.com" minlength="10">
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <p id="contrasena-title">Contraseña</p>
                        <input id="contrasena-user" type="password" class="form-control mi-input" style="margin-bottom:15px;"
                            value="" placeholder="Contraseña" minlength="6">
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <p>Rol</p>
                        <select class="form-control" id="rol-user">
                            <option value="1">Estudiante</option>
                            <option value="2">Docente</option>
                            <option value="3">Administrador</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <p>Sexo</p>
                        <select class="form-control" id="sexo-user">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            
                        </select>
                    </div>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="edit-user-button" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-dot-circle-o"></i> Editar</button>
                <button id="new-user-button" type="button" class="btn btn-success" data-dismiss="modal"> <i class="fa fa-dot-circle-o"></i> Guardar</button>
            </div>

        </div>
    </div>
</div>
<script src="js/modules/users/user.events.js" type="text/javascript"></script>